<div class="day-block">
	<div class="block">{{date}}</div>
	<div class="block">{{description}}</div>
	<div class="block">{{temperature}}</div>
	<div class="block">{{precip}}</div>
	<div class="block">{{wind}}</div>
	<div class="block">{{humidity}}</div>
</div>